<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    Hello World
    <form action="{% url "create-customer" %}" method = "POST">
        {% csrf_token %}
        <ul>
            {% for field in form %}
                <li>
                    {{field.label}}
                    {{field}}
                    {{field.errors}}
                </li>
            {% endfor %}
        </ul>
        <button>Create Customer</button>
    </form>
    
</body>
</html>