<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Customer</title>
</head>

<body>
    <form action="{% url "create-customer" %}" method = "POST">
        {% csrf_token %}
        <ul>
            {% for field in customer_form %}
                <li>
                    {{field.label}}
                    {{field}}
                    {{field.errors}}
                </li>
            {% endfor %}
        </ul>


        <button name="create-customer">Create Customer</button> <button name="create-product">Create Product</button>
    </form>
    <a href=" {% url "landing-page" %} ">Go Home</a>

</body>
</html>