<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{customer.first_name}}</title>
</head>
<body>
    <table>
        {% for field, value in customer.items %}

            {% if field != '_state' and field != 'id' %}
                <tr>
                    <td>{{ field }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}

        {% endfor %}
        <tr>
            <td>products</td>
            <td>
                {% if customer_products %}
                    {% for product in customer_products %}
                        <li style="list-style-type:none;">
                            {{ product.name }}
                        </li>
                    {% endfor %}
                {% else %}
                No products yet, click here to <a href="">add or create</a>  some!
                {% endif %}
            </td>
        </tr>
    </table>
</body>
</html>